<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--<add key="Axoom Experimental" value="https://nuget.inside-axoom.org/feeds/axoom-experimental" />-->
    <add key="Axoom" value="https://nuget.inside-axoom.org/nuget/Axoom" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>